.card {
  margin-top: 20px;
}


.card__image {
  height: 413px;
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: 100%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 413px;
  margin: 12px 0 0 0;
}

.card__like-button {
  background-image: url(../images/like-button.svg);
  width: 32px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 388px;
  }
}